#!/usr/bin/make -f

%:
	dh $@ --buildsystem=cargo

override_dh_auto_build:
	cargo build --release --all-features

override_dh_auto_install:
	install -Dm755 target/release/utpm debian/utpm/usr/bin/utpm
	install -Dm644 docs/GUIDE.md debian/utpm/usr/share/doc/utpm/GUIDE.md
